  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  a {
    text-decoration: none !important;
    color: #ffffff !important;
  }
  a:hover{
    text-decoration: none !important;
    color: #4ebfe5 !important;
  }
  b{
    font-weight: 900;
  }
.f-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.fw-200 {
    font-weight: 200;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-800 {
    font-weight: 800;
}

.blanco {
    color: #ffffff;
}
