body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section#nosotros {
    background-image: url("DSCN1767.JPG"); /* URL de la imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.marquee p {
    display: inline-block;
    padding-right: 50px; /* Espacio entre cada línea */
}



@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.marquee p {
    animation: marquee 10s linear infinite; /* Aplicar animación a las líneas de texto */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
