#nosotros {
    background-image: url('ruta/de/la/imagen.jpg');
    background-size: cover;
    background-position: center;
}

body {
    background-image: url('ruta/de/la/imagen.jpg');
    background-size: cover; /* Para cubrir todo el área del cuerpo */
    background-position: center; /* Para centrar la imagen */
}
Imagen de fondo en una sec